/* /* p.test{
    color: darkgoldenrod;
    font-weight: bold;
}

.city{
    color: darkmagenta;
    font-weight: bolder;
}

.town{
    color: darkgoldenrod;
    border: dashed;
}

a{
    color: red;
}

#content{
    background-color: black;
    padding: 3px;
}

#sample{
    background-color: blue;
    color: rgb(40, 243, 67);
    padding: 10px;
    border: solid;
    font-weight: bolder;
} */
/*
div p{
    color: purple;
    background-color: black;
    font-weight: bolder;
    border: solid;
    border-color: red;
}

a[href*="google.com"]
{
    background-color: green;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: lowercase;
    font-family: 'Times New Roman';
}

a[href*="reddit"]{
    background-color: pink;
    border: 2px solid black;
    font-weight: bolder;
    font-family: monospace;
}
*/

div{
    color: red;
    border: solid black;
    margin: 15px;
    }

p{
    border: inherit;
    margin: inherit;
    color: black;
    font: bolder;
}
